// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name="signInPage"] {
    @include media-breakpoint(basic) {
        & .innerPage {
            & .journeyHeading {
                font-size: 14px;
                line-height: 24px;
            }
            & .informationContent {
                & .infoIMg {
                    width: 25px;
                    height: 25px;
                }
            }
            & .form {
                & .orviaContent {
                    & span {
                        position: relative;
                        &::before, &::after{
                            content: '';
                            width: 10px;
                            height: 2px;
                            background-color: rgba($white, 0.5);
                            position: absolute;
                            top: 50%;
                        }
                        &::before{
                            left: -15px;
                        }
                        &::after{
                            right: -15px;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {}
    
    @include media-breakpoint-up(md) {}
    
    @include media-breakpoint-up(lg) {}
    
    @include media-breakpoint-up(xl) {}
    
    @include media-breakpoint-up(xxl) {}
    
    
    @include media-breakpoint-down(xxl) {}
    
    @include media-breakpoint-down(xl) {}
    
    @include media-breakpoint-down(lg) {}
    
    @include media-breakpoint-down(md) {}
    
    @include media-breakpoint-down(sm) {}
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@

// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name="indexPage"] {

    @include media-breakpoint(basic) {
        & .cricketheader {
            box-shadow: 0px 0px 6px rgba($black, 0.1) !important;
            z-index: 1;
            & .navtab {
                & .nav-item {
                    & .nav-link {
                        font-size: 14px;
                        font-weight: 600;
                        transition: all 0.3s;
                        border-bottom: 0.6px solid transparent;
                        & .gameImg {
                            height: 20px;
                            & img {
                                filter: grayscale(1);
                                transition: all 0.3s;
                            }
                        }
                        & .gamesheading {
                            line-height: 100%;
                        }
                        &.active {
                            background: transparent;
                            border-color: darken($white, 20);
                            color: $white !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                        &:hover {
                            color: $white !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }
        & .tabContents{
            & .homeUpcomingMatch {
                & .owl-stage-outer {
                    padding: 0px;
                }
                & .owl-dots {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    & .owl-dot {
                        width: 6px;
                        height: 6px;
                        border-radius: 6px;
                        border: .6px solid darken($white, 20);
                        transition: all 0.3s ease-in-out;
                        &.active{
                            width: 15px;
                            background: darken($white, 20);
                        }
                    }
                }
            }
            & .tournamentSection {
                background: linear-gradient(0deg, lighten($black, 1) 0%, rgba($info, 0.2) 100%);
                & .tournamentTable {
                    & .table {
                        & .tbody {
                            & tr {
                                & td {
                                    padding: 10px 5px;
                                    &:nth-child(2){
                                        & .cuntryImg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
                                &:nth-child(even) {
                                    background-color: rgba($secondary, 0.5);
                                }
                            }
                        }
                    }
                }
                & .players {
                    & .playerCard {
                        margin-top: 35px;
                        &.firstCard {
                            background: linear-gradient(0deg, rgba($danger, 1) 0%, rgba($orange, 1) 100%);
                            & .card-body {
                                & .capBtn {
                                    background-color: $orange;
                                }
                            }
                        }
                        &.secondCard {
                            background: linear-gradient(0deg, darken($primary, 30) 0%, darken($primary, 15) 100%);
                            & .card-body {
                                & .capBtn {
                                    background-color: $primary;
                                }
                            }
                        }
                        &.therdCard {
                            background: linear-gradient(0deg, darken($warning , 30) 0%, darken($info , 15) 100%);
                            & .card-body {
                                & .capBtn {
                                    background-color: darken($warning , 10);
                                }
                            }
                        }
                        & .crad-img {
                            box-shadow: 0px 0px 8px 0px $white;
                            width: 70px;
                            height: 70px;
                            border-radius: 100px;
                            overflow: hidden;
                            margin-top: -35px;
                            background-color: $black;
                            border-bottom: 2px solid $danger;
                        }
                        & .card-body{

                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {}
    
    @include media-breakpoint-up(md) {}
    
    @include media-breakpoint-up(lg) {}
    
    @include media-breakpoint-up(xl) {}
    
    @include media-breakpoint-up(xxl) {}
    
    
    @include media-breakpoint-down(xxl) {}
    
    @include media-breakpoint-down(xl) {}
    
    @include media-breakpoint-down(lg) {}
    
    @include media-breakpoint-down(md) {}
    
    @include media-breakpoint-down(sm) {}
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@

// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name="allcontest"] {
    @include media-breakpoint(basic) {
        & .innerbody {
            & .contestentrys {
                & .enteryImg {
                    width: 20px;
                    height: 20px;
                }
            }
            
            & .contestCards {
                background: linear-gradient(0deg, lighten($black, 10) 0%, lighten($black, 4) 100%);
                & .card-body{
                    & .case {
                        & .caseHeading {
                            color: lighten($success, 5);
                        }
                        & .caseEntry {
                            & span {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {}
    
    @include media-breakpoint-up(md) {}
    
    @include media-breakpoint-up(lg) {}
    
    @include media-breakpoint-up(xl) {}
    
    @include media-breakpoint-up(xxl) {}
    
    
    @include media-breakpoint-down(xxl) {}
    
    @include media-breakpoint-down(xl) {}
    
    @include media-breakpoint-down(lg) {}
    
    @include media-breakpoint-down(md) {}
    
    @include media-breakpoint-down(sm) {}
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=""] {

    @include media-breakpoint(basic) {
    }
    @include media-breakpoint-up(sm) {}
    
    @include media-breakpoint-up(md) {}
    
    @include media-breakpoint-up(lg) {}
    
    @include media-breakpoint-up(xl) {}
    
    @include media-breakpoint-up(xxl) {}
    
    
    @include media-breakpoint-down(xxl) {}
    
    @include media-breakpoint-down(xl) {}
    
    @include media-breakpoint-down(lg) {}
    
    @include media-breakpoint-down(md) {}
    
    @include media-breakpoint-down(sm) {}
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@

// ? @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=""] {

    @include media-breakpoint(basic) {
    }
    @include media-breakpoint-up(sm) {}
    
    @include media-breakpoint-up(md) {}
    
    @include media-breakpoint-up(lg) {}
    
    @include media-breakpoint-up(xl) {}
    
    @include media-breakpoint-up(xxl) {}
    
    
    @include media-breakpoint-down(xxl) {}
    
    @include media-breakpoint-down(xl) {}
    
    @include media-breakpoint-down(lg) {}
    
    @include media-breakpoint-down(md) {}
    
    @include media-breakpoint-down(sm) {}
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  forms start  ]@@@@@@@@@@@@@@@@@@@@@@


// *************** [ Common Scss ] **************
@include media-breakpoint(basic) {
    .logoImg {
        height: 30px;
    }
    .matchesCard {
        box-shadow: 0px 0px 6px rgba($black, 0.08);
        background-color: lighten($black, 10);
        & .card-body {
            & .teamHeadline {
                & .matchteams,
                & .notificationOut {
                    font-size: 12px;
                }
                & .notificationOut {
                    background: lighten($success, 5);
                    & span{
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background: $white;
                    }
                }
                & .lineupsImg {
                    width: 18px;
                }
            }
            & .teamHeadline {
                border-bottom: 0.6px solid rgba($secondary, 0.5);
            }
            & .innerBody {
                & .leftSideTeams {
                    & .teamLogo {
                        &::before {
                            left: -50%;
                            transform: translate(0%, -50%);
                            // background: rgba($warning, 0.3);
                        }
                    }
                }
                & .rightSideTeams {
                    & .teamLogo {
                        &::before {
                            right: -50%;
                            transform: translate(0%, -50%);
                            // background: rgba($success, 0.3);
                        }
                    }
                }
                & .firstTeamsName {
                    font-size: 12px;
                }
                & .team {
                    & .teamLogo {
                        width: 32px;
                        height: 32px;
                        z-index: 0;
                        &::before {
                            content: "";
                            height: 20px;
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            z-index: -1;
                        }
                    }
                    & .teamName {
                        // font-size: 10px;
                        & span {
                            width: 20px;
                            height: 20px;
                            & img {
                                filter: brightness(3);
                            }
                        }
                    }
                }
                & .matchTimer {
                    & .pichTime {
                        font-size: 12px;
                        color: lighten($success, 5);
                    }
                }
                &.borderBody {
                    border-bottom: 0.6px solid rgba($secondary, 0.5);
                }
            }
            & .bottomBody {
                border-top: 0.6px solid rgba($secondary, 0.5);
                & .winCase {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &.featuredCard {
            & .card-body {
                & .teamHeadline {
                    & .notificationOut {
                        border: .6px solid darken($white, 20);
                        & span {
                            width: 18px;
                            height: 18px;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    .contestPeogressBar {
        &.progress {
            height: 6px;
            // background-color: lighten($black, 30);
            background-color: $secondary ;
            & .progress-bar {
                background-color: $theme2;
                // background: linear-gradient(90deg, lighten($theme2, 0) 0%, lighten($theme2, 10) 100%);
            }
        }
    }
}

