@include media-breakpoint(basic) {
    .backGroundColor{
        background: linear-gradient(0deg, rgba($info, 0.3) 0%, rgba($black, 0.2) 100%);
        .walletTopBar{
            & .walletHead{
    
            }
            & .amount{
                & .walletAmount{
                    font-weight: 600;
                }
                & img{
                    height: 15px;
                    padding-left: 5px;
                }
            }
        }
        .coinsBtn{
            // border: none;
            // padding: 10px 30px;
            // border-radius: 5px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
        .superCoinsBox{
            & .superCoins{
            }
            & img{
                height: 15px;
                padding-left: 5px;
            }
            & .superCoinsTxt{
            }
        }
    }
    .banner{
        width: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .verificationBar{
        & .clickBtn{
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 5px;
            color: $white;
            font-size: 12px;
            padding: 8px 15px;
        }
        & .verification{
            font-size: 10px;
            color: $white;
            &:first-child{
                &::before{
                    display: none;
                }
            }
            &::after{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid lighten($success, 20);
                // background-color: lighten($success, 20);
                position: absolute;  
                top: -35px;
                left: 50%;
                transform: translate(-50%);
                background-image: url(/assets/img/svg/Check.svg);
                background-size: 10px;
                background-repeat: no-repeat;
                background-position: center;
            }
            &::before{
                content: "";
                border: 1px dashed #11ff74;
                width: 41px;
                height: 2px;
                position: absolute;
                top: -26px;
                left: -21px;
            }
            &.completed{
                &::after{
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: lighten($success, 20);
                    position: absolute;  
                    top: -35px;
                    left: 50%;
                    transform: translate(-50%);
                    background-image: url(/assets/img/svg/Check.svg);
                    background-size: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                
            &::before{
                content: '';
                // border: 1px solid lighten($success, 20);
                width:50px;
                height: 2px;
                background-color:lighten($success, 20) ;
                position: absolute;
                top: -26px;
                // left: 32px;
            }
            }
        }
    }
    .walletUl{
        & .walletLi{
            background-color: lighten($color: black, $amount: 10);
            padding: 12px 10px;
            // height: 70px;
            & .liImage{
                & img{

                }
            }
            & .lileftTxt{
                font-size: 14px;
                font-weight: 400;
                & span{
                    font-size: 12px;
                    color: $gray-600;
                }
            }
            & .liAnchor{

            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}